.videoplayer {
    display: flex;
    justify-content:space-evenly;
    margin-left: 10px;  
    position: relative;
}

.videoplayer_videodetails {
    flex: 0.70;
    justify-content:center
}


.videoplayer_suggested {
    flex:0.20;
    display:flex;
    flex-direction:column;
    margin-top: 0 !important;
    margin-right: 20px;

}

.videoplayer_video{
    max-width:1180px; 
 
}
.videoplayer_videoinfo {
    flex-direction: row;
}

.videoinfo_channeldesc {
    color: gray;
    font-size: small;
}
.youtubeContainer {
    position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  }
  
.youtubeContainer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

p:hover {
    color: black;
  }